#menu, #canvas-container {
  border: 1px solid black;
}
#canvas-container {
  padding-bottom: 15px;
  margin-bottom: 15px;
}
#canvas-original {
  margin-bottom: 15px;
}
#file-input {
  margin-bottom: 15px;
  
}
.btn {
  margin-bottom: 15px;
  height: 50px;
}
h1, h2 {
  margin-bottom: 20px;
}
canvas {
  border: 1px solid black;
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #canvas-original, #canvas-procesado {
    height: calc(max-width * 16%);
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

}